/* Add CSS Styling */
.salmon {
    background-color: rgb(255, 161, 176);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
.salmon.large{
    font-size: 24px;
}

#div2 {
    color: rgb(95, 95, 241);
    font-size: 36px;
}

#div4 {
    background-color: rgb(160, 230, 195);
    font-size: 24px;
    font-weight: bold;
}